---
---

<div class="message-content-wrapper can-select-text">
   <div class="message-content peer-color-9 text has-action-button has-shadow has-solid-background has-appendix has-footer" dir="auto" style="">
      <div class="content-inner" dir="auto">
         <div class="message-title" dir="ltr">
            <span class="message-title-name-container interactive" dir="ltr"><span class="forward-title-container"></span><span class="message-title-name"><span class="sender-title">Бот</span></span></span>
            <div class="title-spacer"></div>
         </div>
         <div class="text-content clearfix with-meta" dir="auto">Покрутитесь вокруг себя, когда увидете человека, который сегодня утром явно провел много времени у зеркала. После этого сверните в ближайший поворот.<span class="MessageMeta" dir="ltr" data-ignore-on-paste="true"><span class="message-time">16:33</span></span></div>
      </div>
   </div>
</div>